.juego-logo-preview {
  max-height: 70px;
}
.juegos-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

hr {
  width: 100%;
}

.nickname {
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
}
