<div class="container-fluid bg-animated py-5">
  <div class="row">
    <div class="col-md-12 text-white text-center">
      <h2>MODIFICAR CATEGORIA</h2>
    </div>
  </div>
</div>
<div class="container">
  <form #crearNoticiasForm="ngForm" class="mt-2" *ngIf="categoria">
        <div class="mb-3">
          <label for="campoNombre" class="form-label">Titulo</label>
          <input type="text" class="form-control" [(ngModel)]="categoria.nombre" name="nombre"
          #nombre="ngModel" id="campoNombre">
        </div>
        <div class="mb-3">
          <label for="campoDescripcion" class="form-label">Descripcion</label>
          <input type="text" class="form-control" [(ngModel)]="categoria.descripcion" name="descripcion"
          #descripcion="ngModel" id="campoDescripcion">
        </div>
        <br>
        <button class="btn btn-oxygen" (click)="publicar();">Actualizar Categoria</button>
  </form>
</div>
