<div class="container-fluid bg-animated py-5">
  <div class="row">
    <div class="col-md-12 text-white text-center">
      <h2>AÑADIR JUGADOR</h2>
    </div>
  </div>
</div>
<div class="container">
  <form #crearJugadorForm="ngForm" class="mt-2">
        <div class="mb-3">
          <label for="campoNombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.nombre" name="nombre"
          #nombre="ngModel" id="campoNombre">
          <div *ngIf="errorNombre" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Este campo es obligatorio.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="campoApellido1" class="form-label">Primer Apellido</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.apellido1" name="apellido1"
          #apellido1="ngModel" id="campoApellido1">
          <div *ngIf="errorPrimerApellido" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Este campo es obligatorio.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="campoApellido2" class="form-label">Segundo Apellido</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.apellido2" name="apellido2"
          #apellido1="ngModel" id="campoApellido2">
        </div>
        <div class="mb-3">
          <label for="campoNickname" class="form-label">Nickname</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.nickname" name="nickname"
          #nickname="ngModel" id="campoNickname">
          <div *ngIf="errorNickname" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Este campo es obligatorio.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="campoJuego" class="form-label col-md-3">Juego</label>
          <ng-select
              [placeholder]="'Seleccione juego'"
              name="campoJuego"
              id="campoJuego"
              [items]="juegos"
              bindLabel="nombre"
              appendTo="body"
              [(ngModel)]="jugador.juego"
          >
          </ng-select>
          <div *ngIf="errorJuego" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Es obligatorio seleccionar un juego.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="campoTwitter" class="form-label">Twitter</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.twitter" name="twitter"
          #twitter="ngModel" id="campoTwitter">
          <div *ngIf="errorTwitter" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Debe tener un formato url valido: https://www.google.es/
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="campoTwitch" class="form-label">Twitch</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.twitch" name="twitch"
          #twitch="ngModel" id="campoTwitch">
          <div *ngIf="errorTwitch" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Debe tener un formato url valido: https://www.google.es/
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="campoRolEquipo" class="form-label">Rol en el equipo</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.rol_equipo" name="rol_equipo"
          #rol_equipo="ngModel" id="campoRolEquipo">
          <div *ngIf="errorRol" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Este campo es obligatorio.
            </div>
          </div>
        </div>
        <div class="mb-3">
              <label for="validatedCustomFile">Foto del jugador</label>
              <br>
              <input class="btn btn-oxygen mx-3 mb-3" type="file" (change)="fileChangeEvent($event)" id="validatedCustomFile" required name="logo">
              <button class="btn btn-oxygen mx-3 mb-3" (click)="zoomOut()">Zoom -</button> <button class="btn btn-oxygen mx-3 mb-3" (click)="zoomIn()">Zoom +</button>
              <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                (imageCropped)="imageCropped($event)"
                [maintainAspectRatio]="true"
                [aspectRatio]="1 / 1"
                [resizeToWidth]="300"
                [transform]="transform"
                format="png"
                class="recortar-espacio">
              </image-cropper>
              <img class="previsualizacion" [src]="croppedImage" />
        </div>
        <br>
        <button class="btn btn-oxygen mx-3" (click)="publicar()" >Añadir jugador</button>
        <button class="btn btn-oxygen mx-3" (click)="irGestionarJugadores()" >Volver</button>
  </form>
</div>
