<div class="container-fluid bg-animated py-5">
  <div class="row">
    <div class="col-md-12 text-white text-center">
      <h2>INTRODUCIR RESULTADO DEL PARTIDO</h2>
    </div>
  </div>
</div>
<section *ngIf="partido$ | async">
  <div class="container mt-3" >
    <div class="row">
      <div class="col-md-2">
        <img class="logo-equipo" src="data:image/png;base64,{{partido.equipoLocal.logo}}" alt="">
      </div>
      <div class="col-md-2 display-table">
        <span class="centrar-table">{{partido.equipoLocal.nombre}}</span>
      </div>
      <div class="col-md-4 text-center texto-20 display-table">
        <span class="centrar-table">{{partido.puntuacionLocal}} VS {{partido.puntuacionVisitante}}</span>
      </div>
      <div class="col-md-2 display-table">
        <span class="centrar-table">{{partido.equipoVisitante.nombre}}</span>
      </div>
      <div class="col-md-2">
        <img class="logo-equipo" src="data:image/png;base64,{{partido.equipoVisitante.logo}}" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
          <label for="campoPuntuacionLocal" class="form-label">Resultado Local</label>
          <input type="text" class="form-control" [(ngModel)]="partido.puntuacionLocal" name="campoPuntuacionLocal"
          #puntuacionlocal="ngModel" id="campoPuntuacionLocal">
          <div *ngIf="errorResultadoLocal" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Este campo debe ser numérico.
            </div>
          </div>
      </div>
      <div class="col-md-4 text-center texto-20 display-table">
      </div>
      <div class="col-md-2">
          <label for="campoPuntuacionVisitante" class="form-label">Resultado Vitante</label>
          <input type="text" class="form-control" [(ngModel)]="partido.puntuacionVisitante" name="campoPuntuacionVisitante"
          #puntuacionVisitante="ngModel" id="campoPuntuacionVisitante">
          <div *ngIf="errorResultadoVisitante" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Este campo debe ser numérico.
            </div>
          </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row mt-20">
      <div class="col-md-12">
        <button class="btn btn-oxygen mx-3" (click)="actualizar()">Publicar</button>
        <button class="btn btn-oxygen mx-3" (click)="irPartidos()">Volver</button>
      </div>
    </div>
  </div>
</section>
