<div class="container-fluid bg-animated py-5">
  <div class="row">
    <div class="col-md-12 text-white text-center">
      <h2>OXYGEN GAMING</h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mt-100" @fadeIn>
    <div class="col-md-4">
      <img src="../../../../assets/images/club1.png" alt="" class="img-club">
    </div>
    <div class="col-md-8">
      <h1>
        NUESTRA HISTORIA
      </h1>
      <h3>
        Oxygen Gaming es un club de Esports fundado en agosto de 2019 tras la fusión
entre NGP eSports, un club semiprofesional que destacaba en Fornite y Clash
Royales con diversos logros importantes y PATRONES TM, un club que llegó a
posicionarse en el TOP 1 de España en ladder en la sección de Clash Royale.
La fusión nace tras la ambición de ambas directivas de crear un gran proyecto en el
mundo de los Esports. Un proyecto exitoso, donde cada club pusiera su granito de
arena para llegar lo más lejos posible, traspasando barreras en el panorama
nacional e internacional.
      </h3>
    </div>
  </div>
  <div class="row mt-100" @fadeIn>
    <div class="col-md-8">
      <h1>
        EL OXYGENO QUE ALIENTA NUESTRA LLAMA
      </h1>
      <h3>
        Somos un club fundado bajo unos valores que nos definen: esfuerzo, unión,
respeto y trabajo. Estos valores han ido forjando el camino del club, los llevamos
siempre presentes y marcarán el rumbo hasta nuestros objetivos. La misión de
Oxygen Gaming es la de expandir los valores de los Esports y el Gaming, siendo un
club referente tanto a nivel nacional como internacional. Cada día damos lo máximo
de nosotros para dar un paso más, siempre buscando la excelencia en lo que
hacemos, poniendo todo nuestro empeño para alcanzar el objetivo.
Nuestros seguidores ya tienen claro lo que nos define y por ello vamos a
demostrarles que pueden confiar en nosotros.
      </h3>
    </div>
    <div class="col-md-4">
      <img src="../../../../assets/images/club2.png" alt="" class="img-club">
    </div>
  </div>
  <div class="row mt-100" @fadeIn>
    <div class="col-md-4">
      <img src="../../../../assets/images/club3.png" alt="" class="img-club">
    </div>
    <div class="col-md-8">
      <h1>
        #HUNGRYFORSUCCESS
      </h1>
      <h3>
        Nuestro lema #HungryForSuccess representa la ambición que tiene el club para
lograr un gran progreso y las ganas para conseguirlo, para poder llegar a lo más
alto. Representa los valores del club donde predominan el trabajo, esfuerzo,
respeto y la unión del grupo para que el resultado sea positivo y haya un progreso
en el club. Nos representa este lema desde el primer momento que se formó el club,
porque hasta entonces no hemos parado de lograr progresos para encontrarnos
donde estamos a día de hoy, que es todo un logro dentro del panorama de los
Esports. Pese a ser un club fundado hace menos de un año, contamos con grandes
profesionales en el club, con gran experiencia en el sector donde demostraremos
día a día lo que somos capaces de hacer.
Dicho esto, vamos a continuar por el mismo camino que estamos siguiendo para
que el progreso que estamos logrando no decaiga y podamos llegar a alcanzar los
objetivos del club.
      </h3>
    </div>
  </div>
</div>
