<div class="container-fluid bg-animated py-5">
  <div class="row">
    <div class="col-md-12 text-white text-center">
      <h2>PUBLICAR NOTICIA</h2>
    </div>
  </div>
</div>
<div class="container">
  <form #crearNoticiasForm="ngForm" class="mt-2">
        <div class="mb-3">
          <label for="campoTitulo" class="form-label">Titulo</label>
          <input type="text" class="form-control" [(ngModel)]="noticia.titulo" name="titulo"
          #titulo="ngModel" id="campoTitulo">
        </div>
        <div class="mb-3">
          <label for="campoSubtitulo" class="form-label">Subtitulo</label>
          <input type="text" class="form-control" [(ngModel)]="noticia.subtitulo" name="subtitulo"
          #subtitulo="ngModel" id="campoSubtitulo">
        </div>
        <div class="mb-3">
          <label for="campoSubtitulo" class="form-label">Categorias</label>
          <ng-multiselect-dropdown
              [placeholder]="'Seleccione categoria'"
              name="categorias2"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="noticia.categorias"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="mb-3">
          <label for="campoContenido" class="form-label">Contenido</label>
          <textarea id="campoContenido" class="form-control" id="exampleFormControlTextarea1" rows="10" [(ngModel)]="noticia.contenido" name="contenido"
          #contenido="ngModel"></textarea>
        </div>
        <div class="mb-3">
          <label class="custom-file-label" for="validatedCustomFile">Imagen Destacada</label>
          <div class="custom-file">
          <input type="file" class="custom-file-input" (change)="handleUpload($event)" id="validatedCustomFile" required name="imagen_destacada"
          >
          <div class="invalid-feedback">Formato incorrecto</div>
        </div>
      </div>
        <br>
        <button class="btn btn-oxygen" (click)="publicar();">Publicar Noticia</button>
  </form>
</div>
