<div *ngIf="ultimasNoticias" class="p-4 mb-4 bg-light rounded-3 fondoNoticiaHover" (click) = "visualizarNoticia(ultimasNoticias[0].id)" style="background:linear-gradient(0deg, rgba(0, 217, 255, 0), rgba(36, 213, 245, 0.836)), url('data:image/png;base64,{{ultimasNoticias[0].imagen_destacada}}')">
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-md-12">
        <span *ngFor="let categoria of ultimasNoticias[0].categorias"
         class="badge bg-primary me-2 pull-right" data-value="1">{{categoria.nombre}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-5 fw-bold">{{ultimasNoticias[0].titulo}}</h1>
      </div>
    </div>
    <p class="col-md-8 fs-4">{{ultimasNoticias[0].subtitulo}}</p>
  </div>
</div>
<div class="row align-items-md-stretch">
  <div *ngIf="ultimasNoticias" class="col-md-6">
    <div class="h-100 p-4 bg-light rounded-3 fondoNoticiaHover" (click) = "visualizarNoticia(ultimasNoticias[1].id)" style="background:linear-gradient(0deg, rgba(0, 217, 255, 0), rgba(36, 213, 245, 0.836)), url('data:image/png;base64,{{ultimasNoticias[1].imagen_destacada}}')">
      <div class="row">
        <div class="col-md-12">
          <span *ngFor="let categoria of ultimasNoticias[1].categorias"
           class="badge bg-primary me-2 pull-right" data-value="1">{{categoria.nombre}}</span>
        </div>
      </div>
      <h2>{{ultimasNoticias[1].titulo}}</h2>
      <p>{{ultimasNoticias[1].subtitulo}}</p>
    </div>
  </div>
  <div *ngIf="ultimasNoticias" class="col-md-6">
    <div class="h-100 p-4 bg-light border rounded-3 fondoNoticiaHover" (click) = "visualizarNoticia(ultimasNoticias[2].id)" style="background:linear-gradient(0deg, rgba(0, 217, 255, 0), rgba(36, 213, 245, 0.836)), url('data:image/png;base64,{{ultimasNoticias[2].imagen_destacada}}')">
      <div class="row">
        <div class="col-md-12">
          <span *ngFor="let categoria of ultimasNoticias[2].categorias"
           class="badge bg-primary me-2 pull-right" data-value="1">{{categoria.nombre}}</span>
        </div>
      </div>
      <h2>{{ultimasNoticias[2].titulo}}</h2>
      <p>{{ultimasNoticias[2].subtitulo}}</p>
    </div>
  </div>
</div>
