<nav class="bg-dark border-bottom">
  <div class="d-flex flex-wrap">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <img src="../../../../assets/images/image0.jpg" alt="" class="img-perfil">
          <span class="text-white nombreUsuario">ANGEL</span>
        </div>
        <div class="col-md-10 text-white">
          <ul class="nav">
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="crearNoticias" routerLinkActive="active">Crear Noticia</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="editarNoticias" routerLinkActive="active">Administrar Noticias</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="crearPartido">Crear Partido</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="administrarPartidos">Administrar partidos</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1">Añadir jugador</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="crearEquipo" >Añadir equipo</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="crearJuego" >Añadir juego</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="crearCategoria" >Añadir Categoria</button></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <ul class="nav socialBar pull-right">
        <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fa fa-twitter fa-2x"></a></li>
        <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fa fa-instagram fa-2x"></a></li>
        <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fa fa-twitch fa-2x"></a></li>
        <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fa fa-youtube fa-2x"></a></li>
        <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fab fa-discord fa-2x"></a></li>
      </ul>
    </div>
  </div>
</nav>
