<nav class="bg-dark border-bottom">
  <div class="d-flex flex-wrap">
    <span class="me-auto">TITULARES: TITULARES DE LAS 3 ULTIMAS NOTICIAS</span>
    <ul class="nav socialBar pull-right">
      <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fa fa-twitter fa-2x"></a></li>
      <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fa fa-instagram fa-2x"></a></li>
      <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fa fa-twitch fa-2x"></a></li>
      <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fa fa-youtube fa-2x"></a></li>
      <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fab fa-discord fa-2x"></a></li>
    </ul>
  </div>
</nav>
