<nav class="bg-dark border-bottom">
  <div class="d-flex flex-wrap">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3" *ngIf="logged && usuario">
          <img src="../../../../assets/images/image0.jpg" alt="" class="img-perfil">
          <span class="text-white nombreUsuario">{{usuario.nombre}}</span>
          <button class="btn btn-oxygen mx-2 text-white" (click)="logOut()"><i class="fa fa-power-off" aria-hidden="true"></i></button>
          <button class="btn btn-oxygen mx-2 text-white" (click)="irModificarPerfil()"><i class="fa fa-cogs" aria-hidden="true"></i></button>
        </div>
        <div class="col-md-9 text-white">
          <ul class="nav" *ngIf="logged">
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="administrarCategorias" routerLinkActive="active">Categorias</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="editarNoticias" routerLinkActive="active">Noticias</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="administrarPatrocinadores">Patrocinadores</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="administrarPartidos">Partidos</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="administrarJugadores">Jugadores</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="administrarEquipos" >Equipos</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="administrarSliders" >Sliders</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="administrarJuegos" >Juegos</button></li>
            <li class="nav-item"><button class="btn btn-oxygen mx-1 mt-1" routerLink="administrarUsuarios" >Usuario</button></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 no-padding-right">
      <ul class="nav socialBar pull-right">
        <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fa fa-twitter fa-2x"></a></li>
        <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fa fa-instagram fa-2x"></a></li>
        <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fa fa-twitch fa-2x"></a></li>
        <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fa fa-youtube fa-2x"></a></li>
        <li class="nav-item"><a href="#" class="nav-link socialIcon px-2 fab fa-discord fa-2x"></a></li>
      </ul>
    </div>
  </div>
</nav>
