<div class="container-fluid bg-animated py-5">
  <div class="row">
    <div class="col-md-12 text-white text-center">
      <h2>MODIFICAR EQUIPO</h2>
    </div>
  </div>
</div>
<div class="container" *ngIf="equipo">
  <form #crearJuegoForm="ngForm" class="mt-2">
        <div class="mb-3">
          <label for="campoNombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="equipo.nombre" name="nombre"
          #nombre="ngModel" id="campoNombre">
          <div *ngIf="errorNombre" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Este campo es obligatorio.
            </div>
          </div>
        </div>
        <div class="mb-3">
              <span>Logo actual: </span>
              <br>
              <img [src]="'data:image/png;base64,'+ equipo.logo" class="img-equipo-logo" alt="{{equipo.nombre}}">
              <br>
              <label for="validatedCustomFile">Logo del equipo</label>
              <br>
              <input class="btn btn-oxygen mx-3" type="file" (change)="fileChangeEvent($event)" id="validatedCustomFile" required name="logo">
              <button class="btn btn-oxygen mx-3" (click)="zoomOut()">Zoom -</button> <button class="btn btn-oxygen mx-3" (click)="zoomIn()">Zoom +</button>
              <div *ngIf="errorLogo" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  El logo es obligatorio.
                </div>
              </div>
              <image-cropper class="cropper-logo-equipo"
                [imageChangedEvent]="imageChangedEvent"
                (imageCropped)="imageCropped($event)"
                [maintainAspectRatio]="true"
                [aspectRatio]="1 / 1"
                [resizeToWidth]="150"
                [transform]="transform"
                format="png">
              </image-cropper>
              <img class="previsualizacion" [src]="croppedImage" />
        </div>
        <br>
        <button class="btn btn-oxygen" (click)="publicar()" >Actualizar Equipo</button>
        <button class="btn btn-oxygen mx-3" (click)="irGestionEquipos()">Volver</button>
  </form>
</div>
