<div class="container-fluid bg-animated py-5">
  <div class="row">
    <div class="col-md-12 text-white text-center">
      <h2>MODIFICAR NOTICIA</h2>
    </div>
  </div>
</div>
<div class="container">
  <form #crearNoticiasForm="ngForm" class="mt-2" *ngIf="noticia">
        <div class="mb-3">
          <label for="campoTitulo" class="form-label">Titulo</label>
          <input type="text" class="form-control" [(ngModel)]="noticia.titulo" name="titulo"
          #titulo="ngModel" id="campoTitulo">
          <div *ngIf="errorTitulo" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Este campo es obligatorio.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="campoSubtitulo" class="form-label">Subtitulo</label>
          <input type="text" class="form-control" [(ngModel)]="noticia.subtitulo" name="subtitulo"
          #subtitulo="ngModel" id="campoSubtitulo">
          <div *ngIf="errorSubtitulo" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Este campo es obligatorio.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="campoSubtitulo" class="form-label">Categorias</label>
          <ng-multiselect-dropdown
              [placeholder]="'Seleccione categoria'"
              name="categorias2"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="noticia.categorias"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
          >
          </ng-multiselect-dropdown>
          <div *ngIf="errorCategorias" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Se debe seleccionar al menos una categoria.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="campoContenido" class="form-label">Contenido</label>
          <textarea id="campoContenido" class="form-control" id="exampleFormControlTextarea1" rows="10" [(ngModel)]="noticia.contenido" name="contenido"
          #contenido="ngModel"></textarea>
          <div *ngIf="errorContenido" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Este campo es obligatorio.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <span>Imagen destacada actual: </span>
          <br>
          <img [src]="'data:image/png;base64,'+ noticia.imagen_destacada" class="img-noticia-actual mb-3 mt-3" alt="{{noticia.titulo}}">
          <br>
          <label for="validatedCustomFile">Imagen Destacada</label>
          <br>
          <input class="btn btn-oxygen mx-3 mb-3" type="file" (change)="fileChangeEvent($event)" id="validatedCustomFile" required name="logo">
          <button class="btn btn-oxygen mx-3 mb-3" (click)="zoomOut()">Zoom -</button> <button class="btn btn-oxygen mx-3 mb-3" (click)="zoomIn()">Zoom +</button>
          <div *ngIf="errorImagen" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Advertencia:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Se debe elegir una imagen.
            </div>
          </div>
          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            (imageCropped)="imageCropped($event)"
            [maintainAspectRatio]="true"
            [aspectRatio]="16 / 9"
            [resizeToWidth]="1920"
            [transform]="transform"
            format="png">
          </image-cropper>
          <img class="previsualizacion preview-imagen-destacada" [src]="croppedImage" />
        </div>
        <br>
        <button class="btn btn-oxygen mx-3" (click)="publicar()">Actualizar Noticia</button>
        <button class="btn btn-oxygen mx-3" (click)="irGestionNoticias()">Volver</button>
  </form>
</div>
