<nav class="bg-light">
  <div class="container d-flex flex-wrap">
    <ul class="nav oxy-menu me-auto margin-15">
      <li class="nav-item"><a routerLink="home" routerLinkActive="active" class="menu-btn nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="noticias" routerLinkActive="active" class="menu-btn nav-link">Noticias</a></li>
      <li class="nav-item"><a routerLink="club" routerLinkActive="active" class="menu-btn nav-link">Club</a></li>
      <li class="nav-item"><a routerLink="equipos" routerLinkActive="active" class="menu-btn nav-link">Equipos</a></li>
      <li class="nav-item"><a routerLink="patrocinadores" routerLinkActive="active" class="menu-btn nav-link">Patrocinadores</a></li>
    </ul>
    <ul class="nav">
      <button type="button" class="btn btn-oxygen margin-15" *ngIf="!logged" (click) = "irLogin()">
        Login
      </button>
      <button type="button" class="btn btn-oxygen margin-15" *ngIf="!logged" data-bs-toggle="modal" data-bs-target=".registroModal">
        Registro
      </button>
    </ul>
  </div>
</nav>
