/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 115px;
  color: #5a5a5a;
  font-family: "Roboto Condensed" !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn-oxygen {
  color: #fff !important;
  background-color: #00b4f2 !important;
  border-color: #00b4f2 !important;
}

.btn-oxygen:hover {
  color: #fff !important;
  background-color: #0d7ad4 !important;
  border-color: #0d7ad4 !important;
}

.margin-15 {
  margin:15px;
}

.bg-oxygen {
  background-color: #00b4f2 !important;
}

.text-white {
  color:white;
}

.bg-animated {
  background: linear-gradient(-45deg, #00b4f2, #237de4, #23a6d5, #000000);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


