<div class="mt-5">

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #1c2331"
          >
    <!-- Section: Social media -->
    <section class="d-flex p-4 bg-oxygen align-middle">
      <!-- Left -->
      <div class="me-5 align-middle texto-20">
        <span>Siguenos en nuestras redes sociales para estar informado de las novedades:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <ul class="nav socialBar">
          <li class="nav-item mx-2"><a href="#" class="nav-link socialIcon px-2 fa fa-twitter fa-2x"></a></li>
          <li class="nav-item mx-2"><a href="#" class="nav-link socialIcon px-2 fa fa-instagram fa-2x"></a></li>
          <li class="nav-item mx-2"><a href="#" class="nav-link socialIcon px-2 fa fa-twitch fa-2x"></a></li>
          <li class="nav-item mx-2"><a href="#" class="nav-link socialIcon px-2 fa fa-youtube fa-2x"></a></li>
          <li class="nav-item mx-2"><a href="#" class="nav-link socialIcon px-2 fab fa-discord fa-2x"></a></li>
        </ul>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Oxygen Gaming</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto separator-oxygen" />
            <p>
              Somos un club fundado bajo unos valores que nos definen: esfuerzo, unión, respeto y trabajo. Estos valores han ido forjando el camino del club, los llevamos siempre presentes y marcarán el rumbo hasta nuestros objetivos.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Equipos</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto separator-oxygen" />
            <p *ngFor="let juego of juegos$ | async">
              <a href="equipos" class="text-white">{{juego.nombre}}</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Enlace Útiles</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto separator-oxygen"/>
            <p>
              <a routerLink="login" routerLinkActive="active" class="text-white">Iniciar sesión</a>
            </p>
            <p>
              <a routerLink="equipos" routerLinkActive="active" class="text-white">Equipos</a>
            </p>
            <p>
              <a routerLink="noticias" routerLinkActive="active" class="text-white">Noticias</a>
            </p>
            <p>
              <a routerLink="patrocinadores" routerLinkActive="active" class="text-white">Patrocinadores</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contacto</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto separator-oxygen" />
            <p><i class="fas fa-envelope mr-3"></i> info@oxygengaming.es</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2021 Copyright:
      <a class="text-white" href="https://oxygengaming.es"
         >Oxygen Gaming</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
<!-- End of .container -->
